[user]
  name = Thibaud Guillaume-Gentil
  email = thibaud@thibaud.me

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  df = diff
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[github]
  user = thibaudgg
  # From OS X Keychain
  token = !security find-generic-password -gs \"GitHub API Token\" 2>&1 >/dev/null | awk '/password/ {print $2}' | tr -d \\\"

[help]
  autocorrect = 1

[color]
  ui = true

[core]
  whitespace = fix,space-before-tab,indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf = input
  editor = subl -n -w
	excludesfile = ~/.gitignore-global

[apply]
  whitespace = fix

[push]
  default = simple

[heroku]
  account = personal
